.etc-container a{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    color: white;
  }

.etc-container{
  /* border: 1px solid white; */
  padding: 2px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ju
}